
$main-color: #FF7D7D;

/*
$main-color: #FFC107
$main-color: #f44336;
$main-color: #4CAF50;
$main-color: #64B5F6;
*/


$shadow-1: 0 3px 8px 0 rgba(15,15,20,.2);
$shadow-2: 0 1px 4px 0 rgba(15,15,20,.1);

$tr-lg: 0.55s ease-in-out;
$tr-md: 0.4s ease-in-out;
$tr-sm: 0.2s ease-in-out;

$text-neon: 0 0 3px rgba(250,250,252,.4);

$card-color: linear-gradient(90deg, rgba(54,74,134,.90) 15%, rgba(54,74,134,.7) 50%, rgba(52,73,129,.7) 100%);
$card-color-light: linear-gradient(159deg, rgba(41,66,135,.98) 0%, rgba(41,66,135,.98) 100%);
$card-color-s-light: linear-gradient(159deg, rgba(28,42,83,.88) 0%, rgba(26,40,78,.88) 100%);

$info-bar-1-color: #294287;
$info-bar-1-color-light: #233467;
$info-bar-1-color-s-light: rgba(32,32,42,.88);

$info-bar-2-color: linear-gradient(180deg, rgba(35,52,103,.93) 0%, rgba(35,52,103,.96) 70%, rgba(35,52,103,.99) 80%, rgba(35,52,103,1) 100%);
$info-bar-2-color-light: #364A86;
$info-bar-2-color-s-light: linear-gradient(159deg, rgba(37,37,50,.88) 0%, rgba(35,35,45,.88) 100%);

$content-color: #233467;
$content-color-light: rgba(30,30,40,.98);
$content-color-s-light: #364A86;

$deep-color: #1C2A53;
$deep-color-light: rgba(25,25,35,.98);
$deep-color-s-light: rgba(25,25,35,.88);

$text-color-1: rgba(250,250,252,1);
$text-color-2: rgb(167, 167, 167);
$text-color-3: rgb(255, 255, 255);

$top-bg-gradient: linear-gradient(180deg, rgba(35,52,103,.93) 0%, rgba(35,52,103,.96) 70%, rgba(35,52,103,.99) 80%, rgba(35,52,103,1) 100%);
